@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.dashboard-parent-container {
  width: 100%;
  height: auto;
}
.dashboard-header-container {
  width: 100vw;
  height: auto;
  background: #ffffff;
}
.dashboard-banner-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.dashboard-banner-overlay {
  width: 100vw;
  height: 80vh;
  position: absolute;
  background: #111111;
  opacity: 0.95;
}
.dashboard-profile-div {
  width: 100%;
  height: 80vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.dashboard-profile-img-container {
  width: 15%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.dashboard-profile-img {
  width: 15em;
  height: 15em;
  padding: 2px;
  border: 1px solid #ddd;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
  animation: profile-image-animation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.dashboard-profile-details-container {
  width: 60%;
  height: auto;
  margin-left: 4em;
}
.dashboard-profile-name-label {
  font-weight: 700;
  font-size: 2.5rem;
  color: white;
  position: relative;
  animation: profile-name-animation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.dashboard-profile-name {
  font-weight: 700;
  font-size: 2.5rem;
  color: #EA0047;
  position: relative;
  animation: profile-name-animation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.dashboard-profile-deatils {
  font-size: 0.95rem;
  color: #ffffff;
  line-height: 1.7em;
  position: relative;
  animation: profile-details-animation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.profile-details-link {
  font-size: 0.95rem;
  color: #ffffff;
  line-height: 1.7em;
  text-decoration: underline;
  position: relative;
  animation: profile-details-link-animation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.profile-details-link:hover {
  font-size: 0.95rem;
  color: #c7f109;
  line-height: 1.7em;
  text-decoration: underline;
}
.social-profile-container {
  width: 20em;
  height: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  margin-left: 2em;
  margin-top: 11em;
  border-radius: 30%;
}
.social-profile-icon {
  width: 2em;
  height: 2em;
  padding: 1em;
}
.dashboard-skill-sets-container {
  width: 100vw;
  height: auto;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFF;
}
.skills-container {
  width: 15em;
  height: 3em;
  border: 0.5px solid #333;
  border-radius: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  box-shadow: 1px 1px #333;
  margin-top: 3em;
}
.dashboard-skills-label {
  font-size: 1.2rem;
  color: #FFF;
  font-weight: bold;
}

/*************************SkillSets Styles********************************/
.skills-parent-container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}
.skills-sets-container {
  width: 100%;
  height: 5em;
  display: flex;
  flex-direction: row;
}
.skills-separator-container {
  width: 1em;
  height: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-separator-line {
  height: 4.5em;
  border: 0.5px solid #d8d7d7;
}
.skills-separator-circle {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d8d7d7;
}
.skills-separator-inner-circle {
  width: 0.5em;
  height: 0.5em;
  border-radius: 5em;
  background:#d8d7d7;
}
.skills-label-container {
  width: 35%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.skills-label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-right: 2em;
}
.skills-items-container {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-item-container {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: 5em;
  border: 0.5px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5em;
  display: block;
  background: #333;
}
.skills-item-text {
  font-size: 1rem;
  font-weight: bold;
  color: #FFF;
}
.skills-item-container-hide {
  display: none;
}
/*************************************************************************/

/*************************Projects Styles********************************/
.projects-parent-container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
  background: #f2f2f2;
}
.project-child-container {
  width: 80em;
  height: auto;
}
.projects-tab-container {
  width: 100%;
  height: 8%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
  align-items: center;
}
.tab-container {
  width: 100%;
  height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tab-container:hover {
  width: 100%;
  height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tab-label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}
.tab-label:hover {
  font-size: 1.2rem;
  font-weight: bold;
  color: #4c8bf5;
}
.tab-selected-label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #4c8bf5;
}
.tab-selected {
  width: 100%;
  height: 0.2em;
  margin: 1em;
  background: #4c8bf5;
}
.tab-unselected {
  width: 100%;
  height: 0.2em;
  margin: 1em;
  background: #CCC;
}
.projects-items-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 0.5rem;
  margin-top: 0.5em;
  margin: 0.1em;
}
.projects-card-item {
  display: flex;
  flex-direction: column;
}
.project-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 2em;
  color: #333;
  position: relative;
  animation: project-title;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
.overlay-item-container {
  display: none;
}
.div-thumb-overlay {
  width: 26.35em;
  height: 14.8em;
  position: absolute;
  display: flex;
  justify-content: center;
}
.div-thumb-overlay:hover .overlay-item-container {
  width: 26.35em;
  height: 14.8em;
  display: flex;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  border: 0.5px solid #CCC;
  background: #FCFCFC;
}
.overlay-project-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-readmore-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #FFF;
  animation: project-readmore-container;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
.project-readmore-container:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #333;
  animation: project-readmore-container;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
.project-readmore-text {
  font-size: 1rem;
  color: #333;
  padding: 0.5em;
  border: 1.5px solid #333;
}
.project-readmore-text:hover {
  font-size: 1rem;
  color: #FFF;
  padding: 0.5em;
  border: 1.5px solid #333;
}
.projects-thumb-img {
  width: 100%;
  min-height: 100%;
}
.blank-gap-div {
  width: 100vw;
  height: 5em;
  background: #f2f2f2;
}
/*************************************************************************/


/***************Animation Keyframes**************/
@keyframes profile-name-animation {
  0% {top: -100px}
  100% {top: 0px}
}

@keyframes profile-image-animation {
  0% {left: -100px;}
  100% {left: 0px}
}

@keyframes profile-details-animation {
  0% {bottom: -100px;}
  100% {bottom: 0px}
}

@keyframes profile-details-link-animation {
  0% {bottom: -100px;}
  100% {bottom: 0px}
}

@keyframes project-title {
  0% {top: -30px}
  100% {top: 0px}
}

@keyframes project-readmore-container {
  0% {bottom: -30px;}
  100% {bottom: 0px}
}